

*{
    padding : 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: "Raleway", sans-serif;
}

.container{
    width: 1180px;
    margin: auto;
}
p{
    color:#030712B3;
}
a{
    color: #030712B3;
}
.bigDisplayMenu li a{
    font-size: 17px;
}
